/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
/*Top bar
*******************/
.topbar {
  background: #ed7117; }
  .topbar .navbar-header {
    background: #ffffff; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
    color: rgba(255, 255, 255, 0.8); }
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: #ffffff !important; }
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.8) !important; }

.hdr-nav-bar .navbar .navbar-nav > li.active > a {
  border-color: #ed7117; }

/*******************
/*General Elements
*******************/
.lstick {
  background: #ed7117; }

a.link:hover, a.link:focus {
  color: #ed7117 !important; }

.bg-theme {
  background-color: #ed7117 !important; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ed7117;
  border-color: #ed7117; }

.right-sidebar .rpanel-title {
  background: #ed7117; }

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #ed7117; }

.text-themecolor {
  color: #ed7117 !important; }

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #ed7117;
  color: #ed7117; }

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #ed7117; }

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #ed7117;
  color: #ffffff;
  border: 1px solid #ed7117; }
  .btn-themecolor:hover,
  .btn-themecolor.disabled:hover {
    background: #ed7117;
    opacity: 0.7;
    border: 1px solid #ed7117; }
  .btn-themecolor.active, .btn-themecolor:focus,
  .btn-themecolor.disabled.active,
  .btn-themecolor.disabled:focus {
    background: #028ee1; }

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
  background: #ed7117; }

.sidebar-nav > ul > li.active > a {
  color: #ed7117;
  border-color: #ed7117; }
  .sidebar-nav > ul > li.active > a i {
    color: #ed7117; }

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #ed7117; }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #ed7117; }

.sidebar-nav > ul > li > a i {
  color: #a6b7bf; }
