{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Motion Detection | Web Camera{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-sm-10">
    <img class="width-100" src="{{ url_for('local.personfeed') }}" />
  </div>
</div>
{% endblock %}
