{% extends 'base.html' %} {% block header %} {% block title %}Coming Soon{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="error-box">
    <div class="error-body text-center">
      <img
        width="500"
        src="{{ url_for('static', filename='img/Coming-Soon.png')}}"
      />
      <h1 class="text-info">{{_('Coming Soon')}}</h1>
      <h3 class="text-uppercase m-t-30 m-b-30">
        {{_('This Features is a Work in progress. Stay Tuned !')}}
      </h3>
      <a
        href="{{ url_for('index')}}"
        class="btn btn-info btn-rounded waves-effect waves-light m-b-40"
        >{{_('Back to home')}}</a
      >
    </div>
  </div>
</div>
{% endblock %}
