{% extends 'base.html' %} {% block header %} {% block title %}License Expired{%
    endblock %} {% endblock %} {% block content %}
    <div class="container-fluid">
      <div class="error-box">
        <div class="error-body text-center">
          <img
            width="500"
            src="{{ url_for('static', filename='img/expired.png')}}"
          />
          <h1 class="text-info">{{_('License Expired')}}</h1>
          <h3 class="text-uppercase m-t-30 m-b-30">
            {{_('The demo license has expired. Please contact ITPS team for renewal.')}}
          </h3>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block scripts%}
    <script>
        $('.left-sidebar').hide();
        $('.topbar').hide();
        $('.page-wrapper').css('margin-left', 0)
    </script>
    {% endblock %}
    