{% extends 'base.html' %} {% block header %} {% block title %}Welcome to Lyzer AI{% endblock %} {% endblock %} {% block content %}
<div class="card m-0">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-center">
          <img width="300" src="{{ url_for('static', filename='img/Logo.png') }}" />
          <img class="w-100" src="{{ url_for('static', filename='img/Home-1.png') }}" />
        </div>
        <div class="col-sm-6 align-self-center">
          <h1>{{_('Complete Security Solution With Confidence')}}</h1>
          <p>
            {{_('Lyzer AI is an artificial intelligence-based face and objects recognition platform that can be easily integrated with your IT tools and hardware. The platform can perform face recognition in real-time from video streams and photos
            using a state of the art deep neural network that considers')}}
            <b class="text-info">{{_('128 facial features.')}}</b>{{_('The platform uses machine learning to continuously learn and improve its detection accuracy. The platform also supports')}} <b class="text-info">{{_('LPR')}}</b>{{_('for gate
            intrusion detections of plates.')}}
          </p>
          <h3>{{_('Features')}}</h3>
          <ul class="list-group">
            <li class="list-group-item">
              {{_('Real-time video feed processing')}}
            </li>
            <li class="list-group-item">
              {{_('Analyse saved video content')}}
            </li>
            <li class="list-group-item">{{_('Static Photo analysis')}}</li>
            <li class="list-group-item">{{_('Object Detection')}}</li>
            <li class="list-group-item">{{_('Archive Matching')}}</li>
            <li class="list-group-item">
              {{_("Supports RTSP/IP/HTTP Camera’s")}}
            </li>
            <li class="list-group-item">
              {{_('Secure Deployments on Cloud or On-Premise')}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
