{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{% endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h4>{{ camera.name }} <small class="text-danger">{{_('(Live)')}}</small></h4>
          <img class="img-responsive" src="{{ url_for('livefeed.camfeed', camera_id=camera.id) }}" />
          <!-- ### NOTIFICATION ### -->
          <div id="Nothing" class="p-3 alert alert-info">
            <b class="font-20">{{_('No faces were detected !')}}</b>
          </div>
          <div id="HiddenFace" class="p-3 alert alert-warning">
            <b class="font-20">Person with hidden face detected !</b>
          </div>
          <div id="Known" class="p-3 alert alert-success">
            <b class="font-20">{{_('Known Person was detected !')}}</b>
          </div>
          <div id="Blacklist" class="p-3 alert alert-danger">
            <b class="font-20">{{_('Blacklisted Person was detected !')}}</b>
          </div>
          <div id="Unknown" class="p-3 alert alert-warning">
            <b class="font-20">{{_('Unknown Person was detected !')}}</b>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <!-- ### RESULTS ### -->
          <h4>{{_('Detection Log')}}</h4>
          <div style="overflow-y: scroll; height: 500px" class="border mb-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{_('Name')}}</th>
                  <th>{{_('Image')}}</th>
                  <th>{{_('Date/Time')}}</th>
                </tr>
              </thead>
              <tbody id="Result"></tbody>
            </table>
          </div>
          <!-- LEGEND -->
          <ul class="list-inline">
            <li>{{_('Legend:')}}</li>
            <li class="alert alert-danger">{{_('Blacklisted')}}</li>
            <li class="alert alert-warning">{{_('Unknown')}}</li>
            <li class="alert alert-success">{{_('Whitelist')}}</li>
          </ul>
          <div class="mt-2">
            <audio id="SoftAlarm">
              <source src="{{ url_for('static', filename='audio/unknown.mp3')}}" type="audio/mpeg" />
            </audio>
            <audio id="HardAlarm">
              <source src="{{ url_for('static', filename='audio/blacklist.mp3')}}" type="audio/mpeg" />
            </audio>
            <button id="PlayMuteBtn" class="btn btn-info">{{_('Play / Mute Alarm')}}</button>
            <span
              >{{_('Sound:')}}
              <span id="Play" class="text-success">{{_('Active')}} <i class="icon-Sound"></i> </span>
              <span id="Mute" class="text-warning">{{_('Mute')}} <i class="icon-Mute"></i> </span
            ></span>
            <button id="ClearLogBtn" class="btn btn-info float-right">{{_('Clear Log')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    setInterval(function () {
      reload_page();
    }, 30 * 60000); // 60000 = 1 Min
  });

  function reload_page() {
    window.location.reload(true);
  }
</script>
<script src="{{ url_for('static', filename='js/livefeed.js')}}"></script>
{% endblock %}
