{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{% endblock %} {% endblock %} {% block content
%}
<div class="container-fluid">
    <h2>{{_('Live Streams')}}</h2>
    <div class="row justify-content-center align-items-center">
        {% for camera in cameras %}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h4 class="p-2">{{ camera.name }}</h4>
                </div>
                <div class="card-body">
                    <img class="img-responsive" src="{{ url_for('livefeed.camfeed', camera_id=camera.id) }}" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}