{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{% endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h4>{{_('Edit Camera')}}</h4>
  <small>{{_('Enter details of the camera you want to update')}}</small>
  <hr />
  <div class="card">
    <div class="card-body">
      <form autocomplete="off" action="{{ url_for('cameras.edit', camera_id=camera_id) }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <input autocomplete="false" name="hidden" type="text" style="display: none" />
        <div class="row">
          <!-- ### NAME ### -->
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">{{_('Name')}}</label>
              <!-- Validation -->
              {% if form.name.errors %} {{ form.name(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.name(class="form-control")}} {% endif %}
              <small>{{_('Ex. Entry Door Camera, Exit Door Camera, Hall Camera, PC Web Camera')}}</small>
            </div>
          </div>
          <!-- ### Connection String ### -->
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">{{_('Connection String')}}</label>
              <!-- Validation -->
              {% if form.connection_string.errors %} {{ form.name(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.connection_string.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.connection_string(class="form-control")}} {% endif %}
              <small>{{_('ip cam:')}} <code>rtsp://user:pass@ip_address/stream1</code>,{{_('web cam:')}} <code>0</code></small>
            </div>
          </div>
          <!-- ### Status ### -->
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">{{_('Status')}}</label>
              <!-- Validation -->
              {% if form.status.errors %} {{ form.name(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.status.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.status(class="form-control")}} {% endif %}
            </div>
          </div>
          <!-- ### Camera Type ### -->
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">{{_('Camera Type')}}</label>
              <!-- Validation -->
              {% if form.status.errors %} {{ form.camera_type(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.camera_type.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.camera_type(class="form-control")}} {% endif %}
            </div>
          </div>
          <!-- ### Description ### -->
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">{{_('Description')}}</label>
              {{ form.description(class="form-control")}}
            </div>
          </div>
          <div class="col-sm-12">
            <hr />
            <a class="btn btn-outline-info" href="{{ url_for('cameras.index')}}">{{_('Cancel')}}</a>
            {{ form.submit(class="btn btn-info float-right")}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
