{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h2>{{_('Cameras')}}</h2>
  <div class="row">
    <div class="col-sm-8 mb-3">
      <span><b>{{_('Total:')}}</b> {{ total_cameras }}</span>
    </div>
    <div class="col-sm-4 mb-3">
      <a class="btn btn-info float-right" href="{{ url_for('cameras.add') }}"
        ><i class="icon-Camera-2"></i>{{_('Add Camera')}}
      </a>
    </div>
  </div>
  <div class="row">
    <!-- LOOP ON ALL CAMERAS -->
    {% for camera in cameras %}
    <div class="col-md-6 col-lg-6 col-xlg-4 mb-3">
      <div class="card card-body h-100">
        <div class="row">
          <div class="col-md-5 col-lg-4 text-center">
            <p class="font-120">
              <i
                class="{% if camera.camera_type == 'webcam' %} icon-Camera-3 {% else %} icon-Security-Camera {% endif %}"
              ></i>
            </p>
            {{ camera.camera_type }}
          </div>
          <div class="col-md-7 col-lg-8">
            <h3 class="box-title m-b-0">
              {{ camera.name }}
              <br />
              <span
                class="badge {% if camera.status == 'disabled' %} badge-danger {% else %} badge-success {% endif %}"
              >
                {{ camera.status }}
              </span>
            </h3>
            <hr />
            <h5><b>{{_('Description')}}</b></h5>
            <p>{{ camera.description }}</p>
            <div class="btn-group">
              <a
                class="btn btn-sm btn-link text-warning"
                href="{{ url_for('cameras.edit', camera_id=camera.id)}}"
                ><i class="icon-Pencil"></i>{{_('Edit')}}
              </a>
              <a
                class="btn btn-sm btn-link text-danger"
                href="{{ url_for('cameras.delete', camera_id=camera.id)}}"
                ><i class="icon-Close"></i>{{_('Delete')}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
