@font-face {
  font-family: "Almarai-Bold";
  src: url("../fonts/Almarai/Almarai-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Almarai-Regular";
  src: url("../fonts/Almarai/Almarai-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
