h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li {
  color: #333333;
}
.sidebar-nav > ul > li > a.active {
  background: none;
}

.footer {
  padding: 10px 10px;
}

p {
  font-size: 18px;
}

b {
  font-weight: bold;
}

.font-20 {
  font-size: 20px;
}

.font-120 {
  font-size: 120px;
}

.sidebar-nav ul li a {
  font-size: 14px;
  color: #333333;
}

/* COMING SOON PAGE */
.error-box {
  height: 100%;
  position: fixed;
  width: 100%;
}
.error-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.error-body {
  padding-top: 2%;
}
.error-body h1 {
  font-size: 120px;
  font-weight: 900;
  text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
  line-height: 210px;
}

.form-control{
  padding: .390rem .80rem;
  line-height: 4;
}