{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{_('Add Person')}}</h4>
      <small>{{_('Enter details of the person you want to add')}}</small>
      <hr />
      <div class="card">
        <div class="card-body">
          <form id="AddPersonForm" autocomplete="off" action="{{ url_for('persons.add') }}" method="POST"
            enctype="multipart/form-data">
            <input autocomplete="false" name="hidden" type="text" style="display: none;" />
            <div class="row">
              {{ form.hidden_tag() }}
              {{ form.national_id_filename() }}
              <!-- **** IMAGE SECTION **** -->
              <div class="col-sm-2">
                <div class="form-group">
                  <h5>{{_('Person Face Image')}}</h5>
                  <div class="controls">
                    {{form.face_image(class="dropify-face form-control form-control-line")}}
                  </div>
                </div>
              </div>
              <!-- **** NATIONAL ID SECTION **** -->
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <h5>{{_('National ID (Front)')}}</h5>
                      <div class="controls">
                        {{ form.national_id_front_image(class="dropify-national-front form-control form-control-line")}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <!-- ### CIVIL ID ### -->
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">{{_('Civil ID')}} <span class="text-danger">*</span></label>
                          <small>{{ _('Extraced from uploaded image of national id using OCR') }}</small>
                          {{ form.civil_id(class="form-control")}}
                        </div>
                      </div>
                      <!-- ### NAME ### -->
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">{{_('Name')}} <span class="text-danger">*</span></label>
                          <!-- Validation -->
                          {% if form.name.errors %} {{ form.name(class="form-control
                          form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %} {{ form.name(class="form-control")}} {% endif
                          %}
                        </div>
                      </div>
                      <!-- ### Date Of Birth ### -->
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">{{_('Date Of Birth')}} <span class="text-danger">*</span></label>
                          {{ form.date_of_birth(class="form-control date-picker")}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- **** DATA SECTION **** -->
              <div class="col-sm-8">
                <div class="row">
                  <!-- ### Status ### -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">{{_('Status')}} <span class="text-danger">*</span></label>
                      {{ form.status(class="form-control ")}}
                    </div>
                  </div>
                  <!-- ### Gender ### -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">{{_('Gender')}} <span class="text-danger">*</span></label>
                      {{ form.gender(class="form-control")}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <hr />
                {{ form.submit(class="btn btn-info float-right")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  $(".dropify-face").dropify(
    {
    messages: {
      'default': 'قم برفع صوره الوجه هنا ',
      'replace': 'اضغط للاستبدال الصوره',
      'remove': 'مسح',
      'error': 'صوره خاطئه,برجاء إعاده الرفع'
    }
  }
  );
  var national_front = $(".dropify-national-front").dropify(
    {
    messages: {
      'default': 'قم برفع صوره البطاقه هنا ',
      'replace': 'اضغط للاستبدال الصوره',
      'remove': 'مسح',
      'error': 'صوره خاطئه,برجاء إعاده الرفع'
    }
  }
  );
  

  national_front.on('change', () => {
    var fileElement = $(".dropify-national-front").prop('files')[0];
    var formData = new FormData();
    formData.append('national_id_front', fileElement)
    $.ajax({
      url: '/api/ocr_national_id',
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      cache: false,
      success: (data) => {
        $('#civil_id').val(data.id);
        $('#name').val(data.name);
        $('#national_id_filename').val(data.file_name);
        $('#date_of_birth').val(data.date);
        //$(".date-picker").datepicker("update", new Date(data.date));
        console.log(data);
      },
      error: (err) => {
        console.log(err);
      }
    });
  });
  $(".date-picker").datepicker({
    orientation: "bottom",
    format: "dd-mm-yyyy",
  });
</script>
{% endblock %}