{% extends 'base.html' %} {% block header %} {% block title %} {{ title }} {%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{_('Add Face -')}} {{ title }}</h4>
      <small>{{_('Select the image you want to upload for the person')}}</small>
      <hr />
      <div class="card">
        <div class="card-body">
          <h3>
            <a href="{{ url_for('persons.person', person_id=person.id)}}">
              <i class="icon-Triangle-ArrowLeft"></i>{{_('Back')}}
            </a>
          </h3>
          <form
            action="{{ url_for('persons.add_face', person_id=person.id)}}"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="row">
              <!-- **** IMAGE SECTION **** -->
              <div class="col-sm-4">
                {{ form.hidden_tag() }}
                <img
                  class="w-100"
                  src=" {{url_for('persons.send_image', filename=person.image)}}"
                />
              </div>
              <!-- **** DATA SECTION **** -->
              <div class="col-sm-8">
                <div class="form-group">
                  <h3>{{_('Upload Image')}}</h3>
                  <h5>
                    {{_('Select the face image you would like to upload for the
                    person (JPG, PNG, GIF)')}}
                  </h5>
                  <div class="controls">
                    {{form.face_image(class="dropify form-control
                    form-control-line")}}
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <hr />
                <a
                  class="btn btn-outline-info"
                  href="{{ url_for('persons.person', person_id=person.id)}}"
                  >{{_('Cancel')}}</a
                >
                {{ form.submit(class="btn btn-info float-right")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  $(".dropify").dropify();
</script>
{% endblock %}
