{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{% endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{_('Edit Person -')}} {{ form.name.data }}</h4>
      <small>{{_('"Enter the updated details of the person and press "Update"')}}</small>
      <hr />
      <div class="card">
        <div class="card-body">
          <form action="{{ url_for('persons.edit', person_id=person_id) }}" method="POST" enctype="multipart/form-data">
            <div class="row">
              <!-- **** IMAGE SECTION **** -->
              <div class="col-sm-2">
                <img class="img-responsive" src="{{url_for('persons.send_image', filename=image)}}" />
              </div>
              <!-- **** DATA SECTION **** -->
              <div class="col-sm-10">
                <div class="row">
                  {{ form.hidden_tag() }}
                  <!-- ### NAME ### -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">{{_('Name')}}</label>
                      <!-- Validation -->
                      {% if form.name.errors %} {{ form.name(class="form-control form-control-lg is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.name(class="form-control")}} {% endif %}
                    </div>
                  </div>
                  <!-- ### Status ### -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">{{_('Status')}}</label>
                      {{ form.status(class="form-control ")}}
                    </div>
                  </div>
                  <!-- ### CIVIL ID ### -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">{{_('Civil ID')}}</label>
                      {{ form.civil_id(class="form-control")}}
                    </div>
                  </div>
                  <!-- ### Date Of Birth ### -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">{{_('Date Of Birth')}}</label>
                      {{ form.date_of_birth(class="form-control date-picker")}}
                    </div>
                  </div>

                  <!-- ### Gender ### -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">{{_('Gender')}}</label>
                      {{ form.gender(class="form-control")}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <hr />
                <a class="btn btn-outline-info" href="{{ url_for('persons.person', person_id=person_id)}}">{{ _('Cancel')}}</a>
                {{ form.submit(class="btn btn-info float-right")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  $(".dropify").dropify();
  $(".date-picker").datepicker({
    orientation: "bottom",
    format: "dd-mm-yyyy",
  });
</script>
{% endblock %}
