{% extends 'base.html' %} {% block header %} {% block title %}All Persons{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h2>{{_('Persons')}}</h2>
  <div class="row">
    <div class="col-sm-8 mb-3">
      <span><b>{{_('Total:')}}</b> {{ counters.total_count }} </span>
      <span><b class="text-danger mr-2 ml-2">{{_('Blacklisted:')}}</b> {{
        counters.blacklist_count }}
      </span>
      <span><b class="text-success mr-2 ml-2">{{_('Whitelisted:')}}</b> {{
        counters.whitelist_count }}</span>
      <span><b class="text-warning mr-2 ml-2">{{_('Unknown:')}}</b> {{
        counters.unknown_count }}</span>
      <br />
      {% if found_id %}
      <h5 class="p-2">{{_('Search results found from extraced ID using OCR: ')}} {{ found_id }}</h5>
      {% endif %}
    </div>
    <div class="col-sm-4 mb-3">
      <div class="btn-group float-right">
        <a class="btn btn-primary" href="javascript:void(0)" data-toggle="modal" data-target="#searchByImageModal"><i
            class="icon-Add-Window"></i> {{_('Search By Image')}}</a>
        <a class="btn btn-info" href="{{ url_for('persons.add') }}"><i class="icon-Add-User"></i> {{_('Add
          Person')}}</a>
      </div>
    </div>
    {% for person in persons %}
    <div class="col-md-6 col-lg-6 col-xlg-4 mb-3">
      <div class="card card-body h-100">
        <div class="row">
          <div class="col-md-5 col-lg-4 text-center">
            <a href="{{ url_for('persons.person' , person_id=person.id)}}">
              <img class="img-responsive" src="{{url_for('persons.send_image', filename=person.image)}}" />
            </a>
          </div>
          <div class="col-md-7 col-lg-8">
            <h3 class="box-title m-b-0">
              <a href="{{ url_for('persons.person', person_id=person.id)}}">{{ person.name }}</a>
              <br />
              <span
                class="badge {% if person.status == 'blacklist' %} badge-danger {% else %} badge-success {% endif %}">
                {{ person.status }}
              </span>
            </h3>
            <hr />
            <h5><b>{{_('Gender:')}} </b>{{ person.gender }}</h5>
            <h5><b>{{_('Date Of Birth:')}}</b> {{ person.date_of_birth }}</h5>
            <h5><b>{{_('Faces Registered:')}}</b> {{ person.faces_count }}</h5>
            <div class="btn-group">
              <a class="btn btn-sm btn-link text-warning" href="{{ url_for('persons.edit', person_id=person.id)}}"><i
                  class="icon-Pencil"></i>{{_('Edit')}}
              </a>
              <a class="btn btn-sm btn-link text-danger" href="{{ url_for('persons.delete', person_id=person.id)}}"><i
                  class="icon-Close"></i>{{_('Delete')}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="searchByImageModal" tabindex="-1" role="dialog">
  <form id="SearchPersonForm" autocomplete="off" action="{{ url_for('persons.index') }}" method="POST"
    enctype="multipart/form-data">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _('Search By Person ID') }}</h5>
          <br />
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="form-group">
              <h5>{{_('National ID (Front)')}}</h5>
              <small>{{ _('Upload a photo and use it to search for a person by their national id') }}</small>
              {{ form.hidden_tag() }}
              <div class="controls">
                {{ form.image(class="dropify-national-front form-control form-control-line")}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {{ form.submit(class="btn btn-info float-right")}}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $(".dropify-national-front").dropify({
    messages: {
      'default': 'قم برفع صوره البطاقه هنا ',
      'replace': 'اضغط للاستبدال الصوره',
      'remove': 'مسح',
      'error': 'صوره خاطئه,برجاء إعاده الرفع'
    }
  });
</script>
{% endblock %}