{% extends 'base.html' %} {% block header %} {% block title %} {{ title }} {%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h3>
        <a href="{{ url_for('persons.index')}}">
          <i class="icon-Triangle-ArrowLeft"></i>{{_('Back To Persons')}}
        </a>
      </h3>
      <div class="row">
        <div class="col-sm-2">
          <div class="row">
            <div class="col-sm-12 pb-2">
              <img class="w-100" src=" {{url_for('persons.send_image', filename=person.image)}}" />
            </div>
            <div class="col-sm-12 pt-2">
              <img class="w-100" src=" {{url_for('persons.send_image', filename=person.civil_id_image)}}" />
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="btn-group mb-3">
            <a class="btn btn-outline-info" href="{{ url_for('persons.add_face', person_id=person.id)}}"><i
                class="icon-Add-User"></i>{{_('Add Face')}}
            </a>
            <a class="btn btn-outline-warning" href="{{ url_for('persons.edit', person_id=person.id)}}"><i
                class="icon-Pencil"></i> {{_('Edit Details')}}</a>
            <a class="btn btn-outline-danger" href="{{ url_for('persons.delete', person_id=person.id)}}"><i
                class="icon-Close"></i>{{_('Delete Person')}}
            </a>
          </div>
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <td><b>{{_('Name')}}</b></td>
                <td><span class="font-20">{{ person.name }}</span></td>
              </tr>
              <tr>
                <td><b>{{_('Status')}}</b></td>
                <td>
                  <span
                    class="font-20 badge {% if person.status == 'blacklist' %} badge-danger {% else %} badge-success {% endif %}">
                    {{ person.status }}
                  </span>
                </td>
              </tr>
              <tr>
                <td><b>{{_('Gender')}}</b></td>
                <td><span class="font-20">{{ person.gender }}</span></td>
              </tr>
              <tr>
                <td><b>{{_('Civil Id')}}</b></td>
                <td><span class="font-20">{{ person.civil_id }}</span></td>
              </tr>
              <tr>
                <td><b>{{_('Date Of Birth')}}</b></td>
                <td>
                  <span class="font-20">{{ person.date_of_birth }} ( {{_('Age:')}} {{ person.age
                    }})</span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <h3>
            {{_('Faces Registered For Person:')}} {{ person.faces_count }}
          </h3>
          <div class="row">
            {% for face in person.faces %}
            <div class="col-sm-2">
              <img class="img-responsive" src="{{ url_for('persons.send_image', filename=face.face_image_file) }}" />
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}