{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h4>{{ title }}</h4>
  <small>{{_('Enter details of the video you want to update')}}</small>
  <hr />
  <div class="card">
    <div class="card-body">
      <form
        autocomplete="off"
        action="/video/edit/{{ video_id }}"
        method="POST"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }}
        <input
          autocomplete="false"
          name="hidden"
          type="text"
          style="display: none;"
        />
        <div class="row">
          <!-- ### NAME ### -->
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">{{_('Name')}}</label>
              <!-- Validation -->
              {% if form.name.errors %} {{ form.name(class="form-control
              form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.name(class="form-control")}} {% endif %}
              <small
                >{{_('Ex. Entry Door Camera, Exit Door Camera, Hall Camera, PC
                Web Camera')}}</small
              >
            </div>
          </div>
          <div class="col-sm-6">
            <video class="w-100" controls>
              <source
                src="{{ url_for('video.send_video', filename=video_file)}}"
              />
            </video>
          </div>
          <div class="col-sm-12">
            <hr />
            <a class="btn btn-outline-info" href="{{ url_for('video.index')}}"
              >{{_('Cancel')}}</a
            >
            {{ form.submit(class="btn btn-info float-right")}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
