{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h2>{{ title }}</h2>
  <div class="row">
    {% for video in videos %}
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <div class="card-body">
          <h6><b>{{ video.name }}</b></h6>
          <h6>
            {{_('Uploaded:')}} {{ video.created_at.strftime('%d/%m/%Y %I:%M:%S
            %p')}}
          </h6>
          <a href="{{ url_for('video.process', video_id=video.id) }}">
            <video class="w-100">
              <source
                src="{{ url_for('video.send_video', filename=video.video_file)}}"
              />
            </video>
          </a>
          <div class="btn-group">
            <a
              class="btn btn-sm btn-link text-warning"
              href="{{ url_for('video.edit', video_id=video.id)}}"
              ><i class="icon-Pencil"></i>{{_('Edit')}}
            </a>
            <a
              class="btn btn-sm btn-link text-danger"
              href="{{ url_for('video.delete', video_id=video.id)}}"
              ><i class="icon-Close"></i>{{_('Delete')}}
            </a>
          </div>
          <a
            class="btn btn-sm btn-link float-right"
            href="{{ url_for('video.process', video_id=video.id) }}"
            ><i class="icon-Video-4"></i>{{_('Process Video')}}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
