{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h3>
    <a href="{{ url_for('video.index')}}">
      <i class="icon-Triangle-ArrowLeft"></i>{{_('Back To Videos Archive')}}
    </a>
  </h3>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h4>
            {{ video.name }}
            <small class="text-danger">{{_('(Processing)')}}</small>
          </h4>
          <img
            class="img-responsive"
            src="{{ url_for('video.videofeed', video_id=video.id) }}"
          />
          <!-- ### NOTIFICATION ### -->
          <div id="Nothing" class="p-3 alert alert-info">
            <b class="font-20">{{_('No faces were detected !')}}</b>
          </div>
          <div id="Known" class="p-3 alert alert-success">
            <b class="font-20">{{_('Known Person was detected !')}}</b>
          </div>
          <div id="Blacklist" class="p-3 alert alert-danger">
            <b class="font-20">{{_('Blacklisted Person was detected !')}}</b>
          </div>
          <div id="Unknown" class="p-3 alert alert-warning">
            <b class="font-20">{{_('Unknown Person was detected !')}}</b>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <!-- ### RESULTS ### -->
          <h4>{{_('Detection Log')}}</h4>
          <div style="overflow-y: scroll; height: 500px;" class="border mb-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{_('Name')}}</th>
                  <th>{{_('Image')}}</th>
                  <th>{{_('Date/Time')}}</th>
                </tr>
              </thead>
              <tbody id="Result"></tbody>
            </table>
          </div>
          <!-- LEGEND -->
          <ul class="list-inline">
            <li>{{_('Legend:')}}</li>
            <li class="alert alert-danger">{{_('Blacklisted')}}</li>
            <li class="alert alert-warning">{{_('Unknown')}}</li>
            <li class="alert alert-success">{{_('Whitelist')}}</li>
          </ul>
          <div class="mt-2">
            <audio id="SoftAlarm">
              <source
                src="{{ url_for('static', filename='audio/unknown.mp3')}}"
                type="audio/mpeg"
              />
            </audio>
            <audio id="HardAlarm">
              <source
                src="{{ url_for('static', filename='audio/unknown.mp3')}}"
                type="audio/mpeg"
              />
            </audio>
            <button id="PlayMuteBtn" class="btn btn-info">
              {{_('Play / Mute Alarm')}}
            </button>
            <span
              >{{_('Sound:')}}
              <span id="Play" class="text-success">
                {{_('Active')}} <i class="icon-Sound"></i>
              </span>
              <span id="Mute" class="text-warning">
                {{_('Mute')}} <i class="icon-Mute"></i> </span
            ></span>
            <button id="ClearLogBtn" class="btn btn-info float-right">
              {{_('Clear Log')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/videofeed.js')}}"></script>
{% endblock %}
