{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h2>{{ title }}</h2>
  <small
    >{{_('Select the video you would like to add to the video library')}}</small
  >
  <hr />
  <div class="card">
    <div class="card-body">
      <form
        autocomplete="off"
        action="{{ url_for('video.upload') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }}
        <input
          autocomplete="false"
          name="hidden"
          type="text"
          style="display: none;"
        />
        <div class="row">
          <div class="col-sm-12">
            <h5>{{_('Video Name')}} <span class="text-danger">*</span></h5>
            <div class="form-group">
              {{ form.name(class="form-control")}}
            </div>
          </div>
          <!-- **** IMAGE SECTION **** -->
          <div class="col-sm-12">
            <div class="form-group">
              <h5>
                {{_('Video File (mp4, avi)')}}
                <span class="text-danger">*</span>
              </h5>
              <div class="controls">
                {{form.video_file(class="dropify form-control
                form-control-line")}}
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <hr />
            <a class="btn btn-outline-info" href="{{ url_for('video.index')}}"
              >{{_('Cancel')}}</a
            >
            {{ form.submit(class="btn btn-info float-right")}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  $(".dropify").dropify({
    messages: {
      'default': 'قم برفع الفيديو هنا ',
      'replace': 'اضغط للاستبدال الفيديو',
      'remove': 'مسح',
      'error': 'فيديو خاطئه,برجاء إعاده الرفع'
    }
  });
</script>
{% endblock %}
