{% extends 'base.html' %} {% block header %} {% block title %}{{ title }}{%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{_('Add Car')}}</h4>
      <small>{{_('Enter details of the car you want to add')}}</small>
      <hr />
      <div class="card">
        <div class="card-body">
          <form id="AddCarForm" autocomplete="off" action="{{ url_for('cars.add') }}" method="POST"
            enctype="multipart/form-data">
            <input autocomplete="false" name="hidden" type="text" style="display: none;" />
            <div class="row">
              {{ form.hidden_tag() }}
              {{ form.plate_filename() }}
              <!-- **** IMAGE SECTION **** -->
              <div class="col-sm-2">
                <div class="form-group">
                  <h5>{{_('Plate Image')}}</h5>
                  <div class="controls">
                    {{form.plate_image(class="dropify form-control form-control-line")}}
                  </div>
                </div>
              </div>
              <!-- **** NATIONAL ID SECTION **** -->
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <h5>{{_('National ID (Front)')}}</h5>
                      <div class="controls">
                        {{ form.national_id_front_image(class="dropify-national-front form-control form-control-line")}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <!-- ### Name ### -->
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">{{_('Name')}} <span class="text-danger">*</span></label>
                          <!-- Validation -->
                          {% if form.name.errors %} {{ form.name(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %} {{ form.name(class="form-control")}} {% endif
                          %}
                        </div>
                      </div>
                      <!-- ### Color ### -->
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label">{{_('Color')}} <span class="text-danger">*</span></label>
                          {{ form.color(class="form-control")}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <hr />
                {{ form.submit(class="btn btn-info float-right")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  var plate_image = $(".dropify").dropify();

  plate_image.on('change', () => {
    var fileElement = $(".dropify").prop('files')[0];
    var formData = new FormData();
    formData.append('plate_image', fileElement)
    $.ajax({
      url: '/api/detect_license_plate',
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      cache: false,
      success: (data) => {
        $('#civil_id').val(data.id);
        $('#name').val(data.name);
        $('#national_id_filename').val(data.file_name);
        //$('#date_of_birth').val(data.date);
        $(".date-picker").datepicker("update", new Date(data.date));
        console.log(data);
      },
      error: (err) => {
        console.log(err);
      }
    });
  });
  $(".date-picker").datepicker({
    orientation: "bottom",
    format: "dd-mm-yyyy",
  });
</script>
{% endblock %}