<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/Logo-Icon.png') }}" />
  <!-- Favicon icon -->
  <link rel="icon" href="{{ url_for('static', filename='img/Logo-Icon.png') }}" />
  <title>{% block title %}{% endblock %} - Lyzer AI V0.9</title>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.min.css') }}" />
  <!-- Plugins & Extensions -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropify.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" />

  <!-- Custom CSS -->
  {% if lang_code() == 'ar' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.rtl.css') }}" />
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}" />
  {% endif %}
  <!-- You can change the theme colors from here -->
  <!-- Choose Color Theme: blue|blue-dark|default|default-dark|green|green-dark|megna|megna-dark|purple|purple-dark|red|red-dark### -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors/red.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
</head>
<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">{{_('Lyzer AI')}}</p>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index')}}">
            <!-- Logo icon --><b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="{{ url_for('static', filename='img/Logo-Icon.png')}}" alt="homepage" style="width: 45px" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="{{ url_for('static', filename='img/Logo-Icon.png')}}" alt="homepage" style="width: 45px" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text --><span>
              <!-- dark Logo text -->
              <img src="{{ url_for('static', filename='img/Logo-Text.png')}}" alt="homepage" style="width: 100px" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="{{ url_for('static', filename='img/Logo-Text.png')}}" class="light-logo" style="width: 100px" alt="homepage"
            /></span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto">
            <!-- This is  -->
            <li class="nav-item">
              <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a>
            </li>
          </ul>
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Language -->
            <!-- ============================================================== -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{ url_for(request.endpoint, lang_code='ar' ) }}"><i class="flag-icon flag-icon-eg"></i> {{_('Arabic')}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for(request.endpoint, lang_code='en' ) }}"><i class="flag-icon flag-icon-us"></i> {{_('English')}}</a>
            </li> -->
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown u-pro">
              <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-User"></i>
                <span class="hidden-md-down">Yahya ElAraby &nbsp;<i class="fa fa-angle-down"></i></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right animated flipInY">
                <ul class="dropdown-user">
                  <!-- <li>
                    <a href="#"><i class="ti-user"></i>{{_('My Profile')}} </a>
                  </li>
                  <li>
                    <a href="#"><i class="ti-settings"></i> {{_('Account Setting')}}</a>
                  </li>
                  <li role="separator" class="divider"></li> -->
                  <li>
                    <a href="#"><i class="fa fa-power-off"></i>{{_('Logout')}} </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <!-- MENU ITEM -->
            <li>
              <a class="waves-effect waves-dark" aria-expanded="false" href="{{ url_for('index') }}"><i class="icon-Home"></i><span class="hide-menu">{{_('Home')}}</span> </a>
            </li>
            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Male-2"></i><span class="hide-menu">{{_('Persons')}}</span></a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="{{ url_for('persons.index')}}"><i class="icon-Address-Book"></i>{{_('All Persons')}} </a>
                </li>
                <li>
                  <a href="{{ url_for('persons.add')}}"><i class="icon-Add-User"></i>{{_('Add Person')}} </a>
                </li>
              </ul>
            </li>
            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Security-Camera"></i><span class="hide-menu">{{_('Live Feed')}}</span></a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="{{ url_for('livefeed.streams')}}"><i class="icon-Monitoring"></i> {{_('Streams')}} </a>
                </li>
                <li>
                  <a href="{{ url_for('livefeed.livelog')}}"><i class="icon-Address-Book2"></i> {{_('Live Logs')}} </a>
                </li>
                <li>
                  <hr />
                </li>
                {% for camera in cameras %}
                <li>
                  <a href="{{ url_for('livefeed.camera', camera_id=camera.id)}}"><i class="icon-Wifi-2"></i> {{camera.name}} </a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Film-Video"></i><span class="hide-menu">{{_('Video Processing')}}</span></a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="{{ url_for('video.upload')}}"><i class="icon-Upload-toCloud"></i> {{_('Upload Video')}} </a>
                </li>
                <li>
                  <a href="{{ url_for('video.index')}}"><i class="icon-Folder-Video"></i>{{_('Video Archive')}} </a>
                </li>
              </ul>
            </li>
            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Monitor-Analytics"></i><span class="hide-menu">{{_('Logs')}}</span></a>
              <ul aria-expanded="false" class="collapse">
                <!-- <li>
                  <a href="{{ url_for('logs.today')}}"><i class="icon-Calendar"></i>{{_("Today's Activity")}} </a>
                </li> -->
                <li>
                  <a href="{{ url_for('logs.index')}}"><i class="icon-Folder-Archive"></i>{{_('Logs Archive')}} </a>
                </li>
              </ul>
            </li>
            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="sl-icon-settings"></i><span class="hide-menu">{{_('Settings')}}</span></a>
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="{{ url_for('cameras.index')}}"><i class="icon-Monitor-Tablet"></i>{{_('Cameras')}} </a>
                </li>
                <!-- <li>
                  <a href="{{ url_for('comingsoon')}}"><i class="icon-Phone-SMS"></i>{{_('Notificaitons')}} </a>
                </li> -->
              </ul>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="icon-Monitor-Analytics"></i><span class="hide-menu">{{_('Reports')}}</span></a>
              <ul aria-expanded="false" class="collapse">

                <li>
                  <a href="{{ url_for('reports.analysis')}}"><i class="icon-Folder-Archive"></i>{{_('Logs Analysis')}} </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ALERT GLOBAL MESSAGES -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <!-- CONTENT -->
      {% block content %}{% endblock %}
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>
  <!-- SCRIPTS -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/dataTables.responsive.min.js') }}"></script>
  <!-- start - This is for export functionality only -->
  <script src="{{ url_for('static', filename='js/datatables/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables/buttons.print.min.js') }}"></script>
  <!-- end - This is for export functionality only -->
  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  <!-- Plugins & Extensions -->
  <script src="{{ url_for('static', filename='js/dropify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
